<%- model_class = Kind -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render :partial => 'table' %>

<%= link_to t('buttons.new', :default => t("helpers.links.new")),
            new_kind_path,
            :class => 'btn btn-primary' %>

<nav class="text-center">
  <%= paginate @kinds, :theme => 'twitter-bootstrap-3' %>
</nav>
