<h1>Appointment Book</h1>
<%= link_to "Create Contact", contacts_path, class: 'btn btn-default' %>
<%= link_to "Create Phone", phones_path, class: 'btn btn-default' %>
<%= link_to "Create Adress", addresses_path, class: 'btn btn-default' %>
<%= link_to "Create Kind", kinds_path, class: 'btn btn-default' %>