<h1>Bem vindo a sua agenda!</h1>

<div class="button-inicial">
    <a href='<%= contacts_path %>'>
        <h1>
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            Ver todos os contatos
        </h1> 
    </a>
</div>

<div class="button-inicial kinds">
    <a href='<%= kinds_path %>'>
        <h1>
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            Ver todos os Tipos
        </h1> 
    </a>
</div>


<!-- <h2 id="conversao">Convesão do real</h2>
<label for="valor">Valor</label>
<input type="number" name="valor">
<h5 id="valor_real"><= @real %></h5>

<br>

<label>Resultado</label>
<p id="resultado"></p> -->