<%- model_class = Contact -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render :partial => 'table' %>

<%= link_to t('buttons.new', :default => t("helpers.links.new")),
            new_contact_path,
            :class => 'btn btn-primary' %>

<!-- paginação -->
<nav class="text-center">
  <%= paginate @contacts, :theme => 'twitter-bootstrap-3' %>
</nav>