// Place all the styles related to the inicial controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button-inicial{
    margin-top:50px;
    padding: 10px 20px;
    width: 50%;
    text-align: center;
    background-color: #395EA2;
    border-radius: 20px;
}
.button-inicial > a{
    color: #111;
    text-align: center;
}

.button-inicial > a:hover {
    text-decoration: none; 
    color: #333;
}

.kinds{
    background-color: #332253;
}
